snippet main "main file template for assembly"
.global _start
.equ wordsize, 4

.data	# data section: global and static variables

.text

_start:

done:
    nop
endsnippet

snippet fun "function"
$1:
	prologue:
		.equ num_locals, 0
		.equ num_saved_regs,0
		push %ebp
		movl %esp, %ebp
		subl $(num_locals + num_saved_regs) * ws, %esp
$1_end:
endsnippet
