snippet { "closing braces" b
{
	${VISUAL}$0
}
endsnippet

#######################################################################
#                                TEMP                                 #
#######################################################################
snippet assert "add pair item in unit test assignment"
CU_ASSERT( strcmp( StringConcat("$1", "$2"), "$3") == 0);
$0
endsnippet
