snippet html "HTML template"
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
	</body>
</html>
endsnippet

snippet "<(([^ ]*).*)(?<!\/)>" "Automatic smart HTML tags" Ar
<`!p snip.rv = match.group(1)`>${0:${VISUAL}}</`!p snip.rv = match.group(2)`>
endsnippet
