snippet html "HTML template"
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
	</body>
</html>
endsnippet

snippet <> "tag"
<$1>
	${0:${VISUAL}}
</$1>
endsnippet
