snippet <! "comment"
<!-- $0 -->
endsnippet

snippet import "Import dataset"
library(readr)
$1 <- read_csv("$2")
View($1)
endsnippet

snippet appendix "appendix code"
## Appendix Code
```{r, ref.label=knitr::all_labels(),echo=TRUE,eval=FALSE}
```
endsnippet
