snippet echo "echo expanded"
echo $1 > $0
endsnippet

snippet yn "a y/n prompt template"
read -r -p '$1' yn
if [[ "$yn" != 'y' ]]; then
	$0
fi
endsnippet

snippet source "source file if exist"
[ -s "$1" ] && \. "$1"
endsnippet
